section{
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    font-weight: bold;
    font-style: italic;
}
nav{
    border: 1px solid blue;
    width: 100%;

}
header{
    border: 1px solid blueviolet;
    width: 100%;


}
h1{

    font-weight: bold;
    font-style: oblique;
    color: palevioletred;
}
footer{
    background-color: black;
    color: aliceblue;

}
#RED{
    padding:  0 50% 0 50%;
}
#ID1{
    padding: 0 0 0 10%;
}
#ID2{
    margin: 0 0 0 10px;
}
#ID3{
    margin: 0 10px 0 0;
}

 
 #id4{ position: relative;
    left: 40%;
   
    
 }
 #id5{
    position: fixed;
    right: 3%;
    bottom: 0%;
  

 }
 #ID6{
    position: relative;
    left: 84%;
 }
 @media (max-width:992px){
    main {
     font-size: 16px;
 }
 
  }
  @media (max-width: 768px){
    main {
     font-size: 20px;
 }
  }
 @media (max-width: 567px){
   main {
    font-size: 24px;
}
 }
 
  
 